<h1> Add a New Photo </h1>

<form action="/create_director">
  <div>
  <label for="url">
    Image URL
  </label>

  <input id="url" type="text" name="the_image_url">
  </div>

  <div>

  <label for="cap">
    Name
  </label>

  <input id="cap" type="text" name="the_name">
  </div>

  <label for="bio">
    Bio
  </label>

  <input id="bio" type="text" name="the_bio">
  </div>

  <label for="dob">
    Date of Birth
  </label>

  <input id="dob" type="text" name="the_dob">
  </div>

  <button> Create Photo </button>
</form>
